


.wrapper {
    padding: 12px 20px;
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 999px;
    &:hover {
        opacity: .8;
    }
}
.primary {
    color: var(--white);
    background-color: var(--primary);
    border: 1px solid transparent;

}

.title{
    font-family: "Rubik", sans-serif;
}